@import url('https://fonts.googleapis.com/css?family=Tangerine');


.conuntdown-timer {
    text-align: center;
    font-size: 250%;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
    color: rgb(236, 214, 88);
  }